.skeleton-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  min-width: 261px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.skeleton-img {
  height: 15rem;
  background-color: #ddd;
}

.skeleton-content {
  padding: 0.5rem 0.8rem 0.7rem;
}

.skeleton-line {
  height: 12px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 0.6rem;
}

.skeleton-line.short {
  width: 60%;
}

.skeleton-line.long {
  width: 90%;
}

.skeleton-rating {
  width: 30%;
  height: 10px;
  background-color: #ccc;
  border-radius: 4px;
}

.shimmer {
  animation: shimmer 1.2s infinite linear;
  background: var(--loadshim);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
